15. joblevel = : Nivel jerárquico del puesto del empleado
    - Vemos que se duplican el código del nivel del puesto con el role al momento de definirlo 
    Definiría un código diferente para cada role, siendo la leyenda del 1 al 5:
         1 = laboratory technician ,  research scientist , sales representative
         2 = human resources ,  sales executive 
         3 =  healthcare representative
         4 =  manufacturing director,  research director  
         5 = manager

Reagrupar por estas leyendas a todos los que están relacionados con los de la siguiente columna jobrole, que ahora los códigos no corresponden con su role
 - Ya es un INT no hace falta cambiarlo de type

16. jobrole = Función o rol específico del empleado.

  - Cambiar todo a minúscula
  - Ya es un object no hace falta cambiar el type

17. jobsatisfaction = Satisfacción general en el puesto.
  - Hace falta especificar con una leyenda si 1 es muy satisfecho y 4 es nada satisfecho? o cuál es el orden de satisfacción?
  - No hace falta cambiar el type porque ya es un INT

18. maritalstatus =  Estado civil (e.g., Single, Married).
  -  Eliminar los errores ortotipográficos, lo hemos hecho con este código:
   df["maritalstatus"] = df["maritalstatus"].replace({"marreid": "married"}) 
  - Hay valores únicos vacíos que los vamos a reemplazar por None para poder visualizarlos en SQL
  - Ahora es object no hay que cambiar el type

19. monthlyincome = Ingreso mensual estimado en base al salario anual.
  - Eliminar el simbolo del $ e incluirlos solo en el nombre de la columna: monthlyincome ($)
  - Eliminar la segunda columna "same as monthly income" que tiene los mismo valores
  - Hay valores únicos vacíos que los vamos a reemplazar por None para poder visualizarlos en SQL
  - Cambiar a Float ahora es un object

20. monthlyrate = Tarifa mensual estimada en función de la tarifa diaria.
  - Eliminar el simbolo del $ e incluirlos solo en el nombre de la columna: monthlyrate ($)
  - Cambiar a Float ahora es un object
  
21. numcompaniesworked = Número de empresas previas en las que ha trabajado.
  - No hay ningún cambio que hacer
  - Ya es un INT

22. over18 = No aparece en la leyenda
  - Eliminar

23. overtime =  Indica si el empleado trabaja horas extras (Yes/No).
  - Cambiar las celdas vacías NaN por None
  - Ya es de tipo object

24. percentsalaryhike = Incremento porcentual en el salario.
  - Incluirle el simbolo de % en el nombre de la columna: percentsalaryhike (%)
  - Ya es INT

25. performancerating = Evaluación de desempeño en una escala numérica.
  - Cambiar las celdas vacías por None
  - Solo tenemos 3 y 4 como puntaje de evaluación del desempeño, podríamos definir una leyenda para saber su significado? 
  ej. 3 = Notable
      4 = Destacado

  - Cambiar a INT ahora es object

26. relationshipsatisfaction = Satisfacción con relaciones interpersonales en el trabajo.
  - No haría ningún cambio, quizás solo ponerle una leyenda pero no tenemos el dato de la escala de valoración

27. standardhours = Clasificación de jornada (Full Time/Part Time).
  - Hay valores únicos vacíos que los vamos a reemplazar por None para poder visualizarlos en SQL
  - Cambiar todo a minúsculas
  - El dato ya es un object

28. stockoptionlevel = Nivel de opciones sobre acciones asignadas.
  - No le haría ningún cambio y ya es un INT